*.pyc
*~
.DS_Store
.python
.hyde_deps
.sass-cache/
npm-debug.log
src/node_modules/


# directories
deploy/
#content/
#src/content/
node_modules/
_offline/
public/
migration/

.css
src/content/static/css/style.css
