---
title: Mike Dory | Hi!
extends: base.j2
description: Mike Dory | dory.me
viewport: width=device-width, initial-scale=1.0
listable: false
---

{% block intro %}
<div class="hero-unit">
	<div class="page-header">
		<h1>Hi! I'm Mike. <small>I make things and drink coffee.</small></h1>
	</div>

	<div class="intro_container row">
		<div class="span9">

{% filter markdown -%}

<!-- ## The short version: -->

Co-founder and CTO of [Socialbomb](http://socialbomb.com). 
Co-author of a [book about Tornado](http://shop.oreilly.com/product/0636920021292.do) for [O'Reilly Media](http://oreilly.com/) (out now!). 
Occasional adjunct faculty at [NYU ITP](http://itp.nyu.edu).

I live in Jersey City, NJ with my wife and dog, and I work in Brooklyn, NY.

{%- endfilter %}
		</div>
	</div><!-- end intro_container -->
{% endblock intro %}

{% block main %}

{#
{% filter markdown -%}

<hr/>

</div>

## The professional version:

<div class="row">
	<div class="span1">&nbsp;</div>
	<div class="span8">

I've spent the last decade studying the ways people communicate and working to make their conversations better. Since co-founding Socialbomb, I've worked with companies like Fisher-Price, HBO and Pepsico to build social applications and platforms that connect users with their friends, their devices, and the world around them.

Previously, I developed installations, sites, and games for Unified Field and the Institute of Play. My personal and collaborative projects have appeared in the New York Times, National Public Radio, Gothamist, BoingBoing, Gizmodo and MAKE Magazine. 

I graduated with a BA in Journalism & Media Studies from Rutgers University and an MPS in Interactive Telecommunications from NYU ITP.

</div>

<hr/>

## The really short version:

[Email me](mailto:mike@dory.me)!

{%- endfilter %}
#}

</div> <!-- end hero unit -->

{#
<h2 class="page-header">THINGS I DO:</h2>
<div class="row things_i_do">
	<div class="code span4">
		<span class="icon_text">H</span>
		<p>I develop sites, applications, and APIs that let people do stuff. I develop sites, applications, and APIs that let people do stuff. <p>
	</div>
	<div class="code span4">
		<span class="icon_text">d</span>
		<p>I develop sites, applications, and APIs that let people do stuff. I develop sites, applications, and APIs that let people do stuff. <p>
	</div>
	<div class="code span4">
		<span class="icon_text">U</span>
		<p>I develop sites, applications, and APIs that let people do stuff. I develop sites, applications, and APIs that let people do stuff. <p>
	</div>
</div>
#}

{% endblock main %}