---
title: Mike Dory | Hi!
extends: base.j2
description: Mike Dory | dory.me
viewport: width=device-width, initial-scale=1.0
listable: false
---

{% block intro %}
	<div class="hero-unit">
		<div class="page-header">
			<h1>Hi! I'm Mike. <small>I make things and drink coffee.</small></h1>
			<!-- <h2> I make things and drink coffee. Let's build something together!</h2> -->
		</div>

{% filter markdown -%}

## The short version:

Co-founder and CTO of [Socialbomb](http://socialbomb.com).  
Co-author of a [book about Tornado](http://shop.oreilly.com/product/0636920021292.do) for [O'Reilly](http://oreilly.com/) (_out in March!_).  
Occasional adjunct faculty at [NYU ITP](http://itp.nyu.edu).

I live in Jersey City, NJ with my wife and dog, and I work in Brooklyn, NY.

<hr/>

## The professional version:

I've spent the last decade studying the ways people communicate and working to make their conversations better. Since co-founding Socialbomb, I've worked with companies like Fisher-Price, HBO and Pepsico to build social applications and platforms that connect users with their friends, their devices, and the world around them.

Previously, I developed installations, sites, and games for Unified Field and the Institute of Play. My personal and collaborative projects have appeared in the New York Times, National Public Radio, Gothamist, BoingBoing, Gizmodo and MAKE Magazine. 

I graduated with a BA in Journalism & Media Studies from Rutgers University and an MPS in Interactive Telecommunications from NYU ITP.

<hr/>

## The really short version:

[Email me](mailto:mike@dory.me)!

{%- endfilter %}


<!-- 		<p class="email-me">
			<a class="btn btn-large" href="mailto:mike@dory.me">
				Email me &raquo;
			</a>
		</p> -->

<!-- 		<p>
			<button class="btn btn-large">Facebook</button>
			<button class="btn btn-large">Twitter</button>
			<button class="btn btn-large">Github</button>
			<button class="btn btn-large">Tumblr</button>
		  </p>
 -->
	</div>
{% endblock intro %}


{% block main %}
	{% from "macros.j2" import render_excerpt with context %}
	<section class="blog_excerpt">


	{# grab the latest 3 entries #}
{#
	{% set projects = node.walk_resources_sorted_by_time()[0:3] %}
	{% set projects = node.walk_resources_tagged_with('portfolio') %}

	{% if projects -%}
		<div class="row">
				{% for project in projects -%}
				<div class="span4">
					{{ render_excerpt(project, 'post') }}

					<a class="btn" href="{{ content_url(latest.url) }}">Read more &raquo;</a>
				</div>
				{%- endfor %}
		</div>
	{%- endif %}
#}	
	</section>
{% endblock main %}