---
title: Mike Dory | Hi!
extends: base.j2
description: Mike Dory | dory.me
listable: false
---

{% block intro %}
	<div class="hero-unit">
		<div class="page-header">
			<h1>Hi! I'm Mike. <small>I make things and drink coffee.</small></h1>
			<!-- <h2> I make things and drink coffee. Let's build something together!</h2> -->
		</div>

{% filter markdown -%}

## Who are you?

I'm a technologist, writer, and artist.  I like to build things that real people can use to explore their relationships and the world around them.</p>

&nbsp;

## What do you do?

All sorts of stuff!  I co-founded [Socialbomb](http://socialbomb.com), a social technology agency based in Brooklyn. I've taught at places like [NYU ITP](http://itp.nyu.edu) and [General Assembly](http://generalassemb.ly/), and spoken at places like O'Reilly OSCon and the Mobile Gaming Summit. Most recently, I co-wrote a book for [O'Reilly Media](http://oreilly.com/) called [Introduction to Tornado](http://shop.oreilly.com/product/0636920021292.do), and it will be out this March!

I like to take hikes and shoot pictures and ride boards. I really like coffee, too.

&nbsp;

## Hey, I want to get in touch with you!

That sounds rad! You can:

- read my witty banter on [Twitter](https://twitter.com/mike_dory)
- check out my timeline on [Facebook](https://facebook.com/michael.dory)
- fork my latest work on [Github](https://github.com/mikedory)
- do... professional stuff? on [Linkedin](http://www.linkedin.com/in/michaeldory)

<!-- - [Twitter](https://twitter.com/mike_dory)
- [Facebook](https://facebook.com/michael.dory)
- [Github](https://github.com/mikedory)
- [Linkedin](http://www.linkedin.com/in/michaeldory)
 -->

But for most things, you can also just <a href="mailto:mike@dory.me">email</a> me. It would be cool to hear from you!

{%- endfilter %}


<!-- 		<p class="email-me">
			<a class="btn btn-large" href="mailto:mike@dory.me">
				Email me &raquo;
			</a>
		</p> -->

<!-- 		<p>
			<button class="btn btn-large">Facebook</button>
			<button class="btn btn-large">Twitter</button>
			<button class="btn btn-large">Github</button>
			<button class="btn btn-large">Tumblr</button>
		  </p>
 -->
	</div>
{% endblock intro %}


{% block main %}
	{% from "macros.j2" import render_excerpt with context %}
	<section class="blog_excerpt">


	{# grab the latest 3 entries #}
{#
	{% set projects = node.walk_resources_sorted_by_time()[0:3] %}
	{% set projects = node.walk_resources_tagged_with('portfolio') %}

	{% if projects -%}
		<div class="row">
				{% for project in projects -%}
				<div class="span4">
					{{ render_excerpt(project, 'post') }}

					<a class="btn" href="{{ content_url(latest.url) }}">Read more &raquo;</a>
				</div>
				{%- endfor %}
		</div>
	{%- endif %}
#}	
	</section>
{% endblock main %}