{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle profile-pic" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="me">
        </div>
        <h3>Hi! I'm <strong>{{ .Site.Params.name }}</strong>. I make things and drink coffee.</h3>
          <h4>Creative Tech Lead at <a href="http://google.com">Google XPM</a> (via Adecco).</h4>
          <h4>Former Managing Director, Technology at <a href="http://kbsagency.com">KBS</a> | <a href="http://spies.ws">Spies &amp; Assassins</a>.</h4>
          <h4>Co-author of the O'Reilly book <a href="http://a.co/0RtvVh4">Introduction to Tornado</a>.</h4>
          <h4>Adjunct faculty at <a href="http://itp.nyu.edu">NYU ITP</a>. </h4>
        <!-- <h3>I live in Maplewood, NJ with my wife, daughter, and dog, and I work in New York, NY.</h3> -->
        <!-- <h3>Have a look at some of my working <a href="{{ .Site.BaseURL }}projects/"> projects</a>.</h3> -->
        <h3>Say hi at <a href="http://twitter.com/{{ .Site.Social.Twitter }}">@{{ .Site.Social.Twitter }}</a> or by <a href="mailto:{{ .Site.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
