---
title: Mike Dory | Projects
extends: portfolio_listing.j2
description: dory.me | portfolio
viewport: width=device-width, initial-scale=1.0
listable: false
---

{# override the intro #}
{% block intro %}
<!-- <div class="no_hero_padder"> -->
<div class="hero-unit">
{% filter markdown -%}

<h1 class="page-header">Projects</h1>

I did some things!

{%- endfilter %}


{# <div id="portfolio_carousel" class="carousel slide portfolio_carousel_div">
	<div class="carousel-inner">
 
		<div class="item active">
			<img src="static/images/gdf-141.jpg" alt="">
			<div class="carousel-caption">
				<h4>First!</h4>
				<p>Lorem ipsum...</p>
			</div><!--end caption-->
		</div><!--end item-->
 
		 <div class="item">
			<img src="static/images/gdf-141.jpg" alt="">
			<div class="carousel-caption">
				<h4>Second!</h4>
				<p>Lorem ipsum...</p>
			</div><!--end caption-->
		</div><!--end item-->
 
	</div><!--end inner-->
 
	<!--nav-->
	<a class="left carousel-control" href="#portfolio_carousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#portfolio_carousel" data-slide="next">&rsaquo;</a>
</div>
#}
</div>
{% endblock intro %}

{% block main %}

<div class="project-sort-buttons row ">
	<div class="writing span2">Writing</div>
	<div class="teaching span2">Teaching</div>
	<div class="speaking span2">Speaking</div>
	<div class="itp span2">ITP work</div>
	<div class="socialbomb span2">Socialbomb</div>
</div>

{# these are the fancy projects #}
{% from "macros.j2" import get_three_posts with context %}

<div class="post-group-holder">
	<!-- Writing -->
	<div class="writing post-group">
		<h1 class="page-header">Writing</h1>
		{{ get_three_posts("writing") }}
	</div>

	<!-- Teaching and planning -->
	<div class="teaching post-group">
		<h1 class="page-header">Teaching</h1>
		{{ get_three_posts("teaching") }}
	</div>

	<!-- Speaking -->
	<div class="speaking post-group">
		<h1 class="page-header">Speaking</h1>
		{{ get_three_posts("speaking") }}
	</div>


	<!-- ITP work -->
	<div class="itp post-group">
		<h1 class="page-header">ITP academic work</h1>
		{{ get_three_posts("itp") }}
	</div>

	<!-- Socialbomb -->
	<div class="socialbomb post-group">
		<h1 class="page-header">With Socialbomb</h1>
		{{ get_three_posts("socialbomb") }}
	</div>
</div>
</div>

</section>

{% endblock main %}

