---
title: Mike Dory | Projects
extends: portfolio_listing.j2
description: dory.me | portfolio
viewport: width=device-width, initial-scale=1.0
listable: false
---

{# override the intro #}
{% block intro %}
<div class="no_hero_padder">
{% filter markdown -%}

<h2 class="page-header">Projects</h2>

This is kind of a work in progress.  And by that I mean that there is nothing to see here yet.  

But soon, I promise, I will actually document the stuff I've been working on! Sorted by date and type, even!

{%- endfilter %}
</div>

{% endblock intro %}

{% block main %}

<div id="portfolio_carousel" class="carousel slide portfolio_carousel_div">
    <div class="carousel-inner">
 
        <div class="item active">
            <img src="static/images/gdf-141.jpg" alt="">
            <div class="carousel-caption">
                <h4>First!</h4>
                <p>Lorem ipsum...</p>
            </div><!--end caption-->
        </div><!--end item-->
 
         <div class="item">
            <img src="static/images/gdf-141.jpg" alt="">
            <div class="carousel-caption">
                <h4>Second!</h4>
                <p>Lorem ipsum...</p>
            </div><!--end caption-->
        </div><!--end item-->
 
    </div><!--end inner-->
 
    <!--nav-->
    <a class="left carousel-control" href="#portfolio_carousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#portfolio_carousel" data-slide="next">&rsaquo;</a>
</div>

	{# these are the fancy projects #}
{#
	{% set projects = node.walk_resources_sorted_by_time() %}

	{% if projects -%}
		<div class="row">
				{% for project in projects -%}
				<div class="span4">
					{{ render_portfolio_excerpt(project, 'post') }}

					<a class="btn" href="{{ content_url(latest.url) }}">Read more &raquo;</a>
				</div>
				{%- endfor %}
		</div>
	{%- endif %}


	</section>
#}
{% endblock main %}


{# because this is all in default_block test, none of this will render.  Yay/boo. #}

{#

## DEBUGGERY ##

__site.content__: {{ site.content }}

__site.content.walk|first__: {{ site.content.walk_resources_sorted_by_time() }}

---

__node.walk__: {{node.walk_resources_sorted_by_time() }}

__node.walk|first__: {{ node.walk_resources_sorted_by_time()|first }}

---

__node__: {{node}}

---
#}