---
layout: default
---

<div class="hero-unit">
    <div class="page-header">
        <h1>{{ page.headertext }}</h1> 
        <h2>{{ page.headertextsmall }}</h2>
    </div>

    <p>I've spent the last decade studying the ways people communicate and working to make their conversations better. As the CTO and co-founder of Socialbomb, I've worked with companies like Fisher-Price, HBO and Pepsico to build social applications and platforms that connect users with their friends, their devices, and the world around them.</p> 

    <p>Prior to starting up Socialbomb, I developed installations, sites, and games for Unified Field and the Institute of Play. My personal and collaborative projects have appeared in the New York Times, National Public Radio, Gothamist, BoingBoing, Gizmodo and MAKE Magazine.</p>

</div>

{{ content }}
