/* ==|== primary styles =====================================================
   Author: Mike Dory | http://doryexmachina.com
   ========================================================================== */

// --- FANCY VARIABLES --- //

$blue: #ADC5D4;
$lgray: #999;
$dgray: #666;
$background_white: #FAFAFA;
$shadow_gray: #ccc;
$link: darken($blue, 10%); 
$margin: 16px;


// --- FANCY MIXINS --- //

// outer shadow handlerifying
@mixin outer_shadow($background_white, $shadow_gray) {
	background-color: $background_white;
//	background-color: #eaeaea;
	margin: 0 auto;
	padding: 12px;
	-moz-box-shadow: 0px 4px 12px $shadow_gray;
	-webkit-box-shadow: 0px 4px 12px $shadow_gray;
	box-shadow: 0px 4px 12px $shadow_gray; 
	filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='$shadow_gray');
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='$shadow_gray')";
}

// teh fonts
@mixin font_adelle($weight, $style) {
	font-family: adelle-1,adelle-2,serif;
	font-weight: $weight;
	font-style: $style;
}
 
// --- BODY --- //

body {

	// color: darken($blue,40%);
	@include font_adelle(100, normal);

	a {
		text-decoration: none;
		color: $link;		
	}

	// background-color: #800; 
	background-color: #FAFAFA; 
	background-image: -moz-repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 12px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 15px); 
	-moz-background-size: 22px 22px;
	 background-image: -webkit-repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 12px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 15px);
	 -webkit-background-size: 22px 22px; 
	 background-size: 12px 12px;  

}

// --- CONTAINERS --- //

.container {
// 	@include outer_shadow($background_white, $shadow_gray);
}


// --- HEADER --- //

header {
	
	h1 {
		@include font_adelle(700, normal);
		text-shadow: 1px 1px 2px lighten($lgray, 25%);
		display: inline;
		margin: 0 40px 0 0;
	}

	h2 {
		@include font_adelle(100, italic);
		text-shadow: 1px 1px 1px lighten($lgray, 25%);
		display: inline;
		font-size: 14px;
	}

	ul {
		margin: 20px 0 20px 0;
		text-decoration: none;
		text-shadow: 1px 1px 0px $lgray;
	}
	
	li {
		@include font_adelle(100, italic);
		display: inline;
		margin: 0 15px 0 0;
	}

	a {
		color: lighten($link, 25%);
	}

	
}

// --- CONTENT ---- //

.no_hero_padder {
	margin: 40px 0 30px 0;
}


.main_container {
	@include outer_shadow($background_white, $shadow_gray);
}

article {
// 	@include outer_shadow($background_white, $shadow_gray);
 	img {
 		margin: 0 0 15px 0;
 	}
}

.email-me {
	margin-top: 15px;
}

.portfolio_carousel_div {
	width: 700px;
	margin: auto;
}
	.portfolio_carousel_div .item img {
		margin: auto;
		height: 200px;
	}


// --- FOOTER --- //

p {
	font-size: 14px;
	font-family: Georgia;
	color: darken($lgray,10%);
}

footer {
	font-size: 10px;
	margin-top: 24px;
	text-shadow: 1px 1px 2px $lgray;
}

// --- Special things --- //

code {
	// color: #555;
	font-family: Courier;
}

blockquote {
	font-style: italic;
	color: lighten($blue, 5%);
}

span.amp {
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
	font-style: italic;
}