/* ==|== primary styles =====================================================
   Author: Mike Dory | http://doryexmachina.com
   ========================================================================== */
body {
  color: #3e6177;
  font-family: adelle-1, adelle-2, serif;
  font-weight: 100;
  font-style: normal; }
  body a {
    text-decoration: none;
    color: #8cadc2; }

header h1 {
  font-family: adelle-1, adelle-2, serif;
  font-weight: 700;
  font-style: normal;
  text-shadow: 1px 1px 2px #d9d9d9;
  display: inline;
  margin: 0 40px 0 0; }
header h2 {
  font-family: adelle-1, adelle-2, serif;
  font-weight: 100;
  font-style: italic;
  text-shadow: 1px 1px 1px #d9d9d9;
  display: inline;
  font-size: 14px; }
header ul {
  margin: 20px 0 20px 0;
  text-decoration: none;
  text-shadow: 1px 1px 0px #999999; }
header li {
  font-family: adelle-1, adelle-2, serif;
  font-weight: 100;
  font-style: italic;
  display: inline;
  margin: 0 15px 0 0; }
header a {
  color: #dfe8ee; }

.no_hero_padder {
  margin: 40px 0 30px 0; }

.main_container {
  background-color: #fafafa;
  margin: 0 auto;
  padding: 12px;
  -moz-box-shadow: 0px 4px 12px #cccccc;
  -webkit-box-shadow: 0px 4px 12px #cccccc;
  box-shadow: 0px 4px 12px #cccccc;
  filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='$shadow_gray');
  -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='$shadow_gray')"; }

footer {
  font-size: 10px;
  margin-top: 24px;
  text-shadow: 1px 1px 2px #999999; }

blockquote {
  font-style: italic;
  color: #bed1dd; }

span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic; }
