/* ==|== primary styles =====================================================
   Author: Mike Dory | http://doryexmachina.com
   ========================================================================== */

// --- FANCY VARIABLES --- //

$blue: #ADC5D4;
$lgray: #999;
$dgray: #666;
$background_white: #FAFAFA;
$shadow_gray: #ccc;
$link: darken($blue, 10%); 
$margin: 16px;


// --- FANCY MIXINS --- //

// outer shadow handlerifying
@mixin outer_shadow($background_white, $shadow_gray) {
	background-color: $background_white;
	margin: 0 auto;
	padding: 12px;
	-moz-box-shadow: 0px 4px 12px $shadow_gray;
	-webkit-box-shadow: 0px 4px 12px $shadow_gray;
	box-shadow: 0px 4px 12px $shadow_gray; 
	filter:  progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='$shadow_gray');
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=12px, OffY=12px, Color='$shadow_gray')";
}

// teh fonts
@mixin font_adelle($weight, $style) {
	font-family: adelle-1,adelle-2,serif;
	font-weight: $weight;
	font-style: $style;
}

@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('/static/fonts/websymbols-regular-webfont.eot');
	src: url('/static/fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('/static/fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('/static/fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('/static/fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}
 
// --- BODY --- //

body {

	// color: darken($blue,40%);
	@include font_adelle(100, normal);

	a {
		text-decoration: none;
		color: $link;		
	}

	background-color: #FAFAFA; 
	background-image: -moz-repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 12px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 15px); 
	-moz-background-size: 22px 22px;
	background-image: -webkit-repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 12px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0) 15px);
	-webkit-background-size: 22px 22px; 
	background-size: 12px 12px;  

}

// --- CONTAINERS --- //

.container {
// 	@include outer_shadow($background_white, $shadow_gray);
}

	.intro_container {
		// max-width: 900px
	}

// --- HEADER --- //

header {
	
	h1 {
		@include font_adelle(700, normal);
		text-shadow: 1px 1px 2px lighten($lgray, 25%);
		display: inline;
		margin: 0 40px 0 0;
	}

	h2 {
		@include font_adelle(100, italic);
		text-shadow: 1px 1px 1px lighten($lgray, 25%);
		display: inline;
		font-size: 14px;
	}

	ul {
		margin: 20px 0 20px 0;
		text-decoration: none;
		text-shadow: 1px 1px 0px $lgray;
	}
	
	li {
		@include font_adelle(100, italic);
		display: inline;
		margin: 0 15px 0 0;
	}

	a {
		color: lighten($link, 25%);
	}

}

// --- CONTENT ---- //

.no_hero_padder {
	margin: 40px 0 30px 0;
}


.main_container {
	@include outer_shadow($background_white, $shadow_gray);
}

article {
// 	@include outer_shadow($background_white, $shadow_gray);
 	img {
 		margin: 0 0 15px 0;
 	}
}

.email-me {
	margin-top: 15px;
}

.portfolio_carousel_div {
	width: 700px;
	margin: auto;
}
	.portfolio_carousel_div .item img {
		margin: auto;
		height: 200px;
	}


// --- FOOTER --- //

p {
	font-size: 14px;
	font-family: Georgia;
	color: darken($lgray,10%);
}

footer {
	font-size: 10px;
	margin-top: 24px;
	// text-shadow: 1px 1px 1px $lgray;

	.icon_text {
		font-size: 1em;
		line-height: 100%;
	}
}

// --- Special things --- //

code {
	// color: #555;
	font-family: Courier;
}

blockquote {
	font-style: italic;
	color: lighten($blue, 5%);
}

.center {
	text-align: center;
}

.bottomborder{
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
}

span.amp {
	font-family: Baskerville, Palatino, "Book Antiqua", serif;
	font-style: italic;
}

span.icon_text {
	font-family: WebSymbolsRegular;
	font-size: 2em;
	color: #333;
}

// hr {
// 	background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
// 	background-image: -moz-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
// 	background-image: -ms-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
// 	background-image: -o-linear-gradient(left, transparent, rgba(0, 0, 0, .1), transparent);
// 	border: 0;	
// 	border-top: 1px solid #EEE;
// 	border-bottom: 1px solid white;
// 	border: 1px blue;
// }

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
	left: auto;
	right: auto;
}

.things_i_do {
	// margin: 5px 0 20px 0;

	.icon_text {
		font-size: 2.2em;
		margin: 0 10px 0 5px;
		display: inline;
		float: left;
		height: 120px;
	}
}

.social_networks {
	display: inline;
	// margin: 5px 0 50px 0;

	.icon_text {
		font-size: 1.2em;
	}
}

.project-sort-buttons {
	@include font_adelle(700, normal);
	font-size: 20px;
	color: #666;

	li {
		a {
			color: #555;
		}
		a:hover {
			// font-style: italic;
		}
		// a:active {
			// background-color: green;
		// }
	}
}

// a.brand {
// 	background-color: #777;
// 	padding-bottom: 40px;
// 	height: 200px;
// 	position: absolute;
// 	left: 50%;
// }