{% extends "portfolio.j2" %}
{% from "macros.j2" import render_portfolio_excerpt with context  %}
{% block main %}
{% block page_title %}<h1 class="title">{{ resource.meta.title }}</h1>{% endblock %}

{{ node.walk_resources_sorted_by_time() }}


<ul class="listing clear">
{% for res in node.walk_resources_sorted_by_time() %}
<li>
    {{ render_portfolio_excerpt(res) }}
</li>
{% endfor %}
</ul>
{% endblock %}